<div class='input'>
  <input placeholder='no placeholder' value="{{value}}" {{#if disabled}}disabled{{/if}} id='{{id}}' name='{{id}}' class='input__input' type='text' />
  <label for='{{id}}' class='input__label'>
    {{label}}
  </label>
</div>