{{#if showModal}}
  {{{modal}}}
{{/if}}
<main class='main-page'>
  <aside class='main-page__sidebar sidebar'>
    <header class='sidebar__header'>
      {{{search}}}
      <button class='sidebar__button'>
        {{{userSettingsIcon}}}
      </button>
    </header>
    <div class='chat-list'>{{{items}}}
    </div>
  </aside>
  <section class='main-page__content content'>
    <header class='content__header'>
      {{{chatImg}}}
      <span class='content__user-name'>
        {{chatName}}
      </span>
    </header>
    <div class='content__messages'>
      {{{messages}}}
    </div>
    <footer class='content__footer'>
      {{{input}}}
    </footer>
  </section>

</main>