<div class='login-page'>
  <article class='login-page__inner'>
    <h1 class='login-page__title'>Sing up</h1>
    <form>
      {{{email}}}
      {{{phone}}}
      {{{name}}}
      {{{surname}}}
      {{{password}}}
      {{{repeatPassword}}}
      <div class='actions'>
        {{{button}}}
        {{{link}}}
      </div>
    </form>
  </article>
</div>