<div class='text-field'>
  <div class="text-field__icon">
    <img src="{{icon}}" alt=""></div>
  <input placeholder='{{placeholder}}' value="{{value}}" {{#if disabled}}disabled{{/if}} id='{{id}}' name='{{id}}' class='text-field__input' type='text' />
</div>